/* ---------------------------------
 * A little bit of generic styling
 * ---------------------------------*/

body {
	padding: 10px;
	font-family: 'Fjalla One', sans-serif;
}

#container {
	margin: 0 auto;
}

/* Style up the errors */

#error-header, #error-body {
	padding: 10px
}

#error-container, #error-inner-container {
	margin: 0 auto;
}

#error-header {
	background-color: #ff6666;
}

#error-body {
	background-color: #ffe6e6;
}

#error-header h3 {
	margin:  0
}